@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.page {
  width: 100%;
  height: 100vh;
}

.palette {
  height: 80vh;
  display: flex;
  flex-direction: row;
}

.palette div {
  width: 25%;
  height: 100%;
  display: flex;
}

.palette div span {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  align-self: flex-end;
  width: 100%;
  text-align: center;
  margin: 5px;
  font-weight: 500;
  font-size: 15px;
}

.control_container {
  height: 20vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.func_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.color_label {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.color_label_tip {
  visibility: hidden;
  padding: 10px;
  color: black;
  text-align: center;
  white-space: nowrap;
  font-size: 10px;
  font-weight: 400;

  position: absolute;
  z-index: 1;
  transition-property: visibility;
  transition-delay: 0s;
}

.color_label:hover .color_label_tip {
  visibility: visible;
  transition-delay: 0.1s;
}

.button {
  appearance: none;
  text-transform: uppercase;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  letter-spacing: 3px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

/*https://getcssscan.com/css-checkboxes-examples*/
.checkbox_wrapper *,
.checkbox_wrapper ::after,
.checkbox_wrapper ::before {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.checkbox_wrapper [type="checkbox"].substituted {
  margin: 0;
  width: 0;
  height: 0;
  display: inline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox_wrapper [type="checkbox"].substituted + label:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  height: 1.15em;
  width: 1.15em;
  color: rgba(0, 0, 0, 0.275);
  border: solid 0.06em;
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em inset,
    0 0 0 0.07em transparent inset;
  border-radius: 0.2em;
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>')
      no-repeat center,
    white;
  background-size: 0;
  will-change: color, border, background, background-size, box-shadow;
  transform: translate3d(0, 0, 0);
  transition: color 0.1s, border 0.1s, background 0.15s, box-shadow 0.1s;
}
.checkbox_wrapper [type="checkbox"].substituted:enabled:active + label:before,
.checkbox_wrapper [type="checkbox"].substituted:enabled + label:active:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
  background-color: #f0f0f0;
}
.checkbox_wrapper [type="checkbox"].substituted:checked + label:before {
  background-color: #3b99fc;
  background-size: 0.75em;
  color: rgba(0, 0, 0, 0.075);
}
.checkbox_wrapper
  [type="checkbox"].substituted:checked:enabled:active
  + label:before,
.checkbox_wrapper
  [type="checkbox"].substituted:checked:enabled
  + label:active:before {
  background-color: #0a7ffb;
  color: rgba(0, 0, 0, 0.275);
}
.checkbox_wrapper [type="checkbox"].substituted:focus + label:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55),
    0 0 0 5px rgba(65, 159, 255, 0.3);
}
.checkbox_wrapper [type="checkbox"].substituted:focus:active + label:before,
.checkbox_wrapper [type="checkbox"].substituted:focus + label:active:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55),
    0 0 0 5px rgba(65, 159, 255, 0.3);
}
.checkbox_wrapper [type="checkbox"].substituted:disabled + label:before {
  opacity: 0.5;
}

.checkbox_wrapper [type="checkbox"].substituted.dark + label:before {
  color: rgba(255, 255, 255, 0.275);
  background-color: #222;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="rgba(34, 34, 34, 0.999)" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>');
}
.checkbox_wrapper
  [type="checkbox"].substituted.dark:enabled:active
  + label:before,
.checkbox_wrapper
  [type="checkbox"].substituted.dark:enabled
  + label:active:before {
  background-color: #444;
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset,
    0 0 0 0.07em rgba(255, 255, 255, 0.1) inset;
}
.checkbox_wrapper [type="checkbox"].substituted.dark:checked + label:before {
  background-color: #a97035;
  color: rgba(255, 255, 255, 0.075);
}
.checkbox_wrapper
  [type="checkbox"].substituted.dark:checked:enabled:active
  + label:before,
.checkbox_wrapper
  [type="checkbox"].substituted.dark:checked:enabled
  + label:active:before {
  background-color: #c68035;
  color: rgba(0, 0, 0, 0.275);
}
.checkbox_wrapper [type="checkbox"].substituted + label {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  -webkit-user-select: none;
  user-select: none;
}

@media only screen and (max-width: 768px) {
  .palette {
    flex-direction: column;
  }

  .palette div {
    width: 100%;
    height: 25%;
  }
}
